@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neu.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./CoolveticaRg-Regular.woff2') format('woff2'),
    url('./CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./Oswald-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}