@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  body {
    @apply bg-[#121212] text-white tracking-wide 
  
  }

  html {
    @apply bg-[#121212]
  }

  #root {
    @apply bg-[#121212]
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

}



html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

 #tsparticles {
  position: absolute;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 5; 
} 

body {
  position: relative;
}

.mainbody {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.maincontainer {
  position: relative;
}

.home-text {
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;
}

.header-text-top {
  font-weight: 300;
}

.header-text-bottom {
  font-family: 'Oswald';
  font-weight: 400;
}

* {
  z-index: 10;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.outline-close {
  margin-right: 1.35rem;
}


.outer-home-return-button {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer-home-return-button > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.stop-sign {
  font-family: 'Pathway Gothic One', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}




















.orbit-controls {
  display: none;
}




@media (min-width:280px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .rotating-globe {
    width: 100vw;
    height: 58vh;
  }
  .orbit-controls {
    display: none;
  }
}

@media only screen and (orientation:landscape) and (max-width:950px) {
  /* landscape */
  .rotating-globe {
    display: none;
  }
  .home-intro {
    margin-top: 5rem;
  }
}
