@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-[#121212] text-white tracking-wide 
  
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply rounded-xl uppercase bg-gradient-to-r from-[#67E8F9] to-[#0891B2]
  }

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

 #tsparticles {
  position: absolute;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 5; 
} 

body {
  position: relative;
}

.mainbody {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.maincontainer {
  position: relative;
}

* {
  z-index: 10;
}

.outline-close {
  margin-right: 1.35rem;
}


.outer-home-return-button {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer-home-return-button > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.stop-sign {
  font-family: 'Pathway Gothic One', sans-serif;
}



























.orbit-controls {
  display: none;
}




@media (min-width:280px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .rotating-globe {
    width: 100vw;
    height: 58vh;
  }
  .orbit-controls {
    display: none;
  }
}

@media only screen and (orientation:landscape) and (max-width:950px) {
  /* landscape */
  .rotating-globe {
    display: none;
  }
  .home-intro {
    margin-top: 5rem;
  }
}


@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .main { 
    /* margin-bottom: 40rem; */
  }

}

@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .main { 
    /* margin-bottom: 40rem; */
  }
}

@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .main { 
    /* margin-bottom: 40rem; */
  }
}

@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  .main { 
    /* margin-bottom: 40rem; */
  }
}

@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
  .main { 
    /* margin-bottom: 40rem; */
  }
}

