@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-[#121212] text-white tracking-wide 
  
  }


  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  /* button {
    @apply rounded-xl uppercase bg-gradient-to-r from-[#67E8F9] to-[#0891B2]
  } */

  /* #send-button {
    @apply m-auto text-lg lg:text-xl w-full p-4 text-gray-800 mt-4 hover:scale-105 ease-in duration-300 hover:text-[#ffffff] rounded-xl uppercase bg-gradient-to-r from-[#67E8F9] to-[#0891B2]
  } */

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

 #tsparticles {
  position: absolute;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 5; 
} 

body {
  position: relative;
}

.mainbody {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.maincontainer {
  position: relative;
}

* {
  z-index: 10;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.outline-close {
  margin-right: 1.35rem;
}


.outer-home-return-button {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer-home-return-button > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.stop-sign {
  font-family: 'Pathway Gothic One', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}




















.orbit-controls {
  display: none;
}




@media (min-width:280px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .rotating-globe {
    width: 100vw;
    height: 58vh;
  }
  .orbit-controls {
    display: none;
  }
}

@media only screen and (orientation:landscape) and (max-width:950px) {
  /* landscape */
  .rotating-globe {
    display: none;
  }
  .home-intro {
    margin-top: 5rem;
  }
}
